@page
@model ResetPasswordModel<User>
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = @Labels.general_signin_reset;
}

<h1>@ViewData["Title"]</h1>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Email" class="form-label"> @Labels.general_signin_email </label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.Password" class="form-label"> @Labels.general_signin_password </label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.ConfirmPassword" class="form-label"> @Labels.general_signin_passwordconfirm </label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">@Labels.general_signin_reset</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
